<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<link type="text/css" rel="stylesheet" href="style.css"/>
	</head>

	<body ng-app="" ng-controller="collisionController">

		<div id="sliders">
			<div class="slider-container margin-bottom">
				<label for="friction">Friction: <span ng-bind="friction"></span></label>
				<input type="range" id="friction" class="slider right" min="0.0" max="1.0" step="0.01" value="0.95" ng-model="friction">
			</div>
			<div class="slider-container margin-bottom">
				<label for="gravity">Gravity: <span ng-bind="gravity"></span></label>
				<input type="range" id="gravity" class="slider right" min="0.0" max="1.0" step="0.01" value="0.05" ng-model="gravity">
			</div>
			<div class="slider-container margin-bottom">
				<label for="charge">Charge: <span ng-bind="charge"></span></label>
				<input type="range" id="charge" class="slider right" min="-2000" max="2000" value="-15" ng-model="charge">
			</div>
		</div>

		<div id="d3"></div>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
		<script type="text/javascript" src="collision.js"></script>
		<script type="text/javascript" src="collisionController.js"></script>
	</body>
</html>
