body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

/*#body {
	text-align: center;
}*/

.margin-bottom {
	margin-bottom: 0.5em;
}

.right {
	float: right;
}

.slider-container {
	width: 48em;
}

.slider {
	width: 50em;
}